body {
    font-family: sans-serif;
    background-color: #ffffff;
  }
  
  .file-upload {
    background-color: #ffffff;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #6c757d;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #d5dbe2;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .file-upload-btn:hover {
    background: #94acc0;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #6c757d;
    position: relative;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #b5c6d485;
    border: 4px dashed #6c757d;


  }
  
  .image-title-wrap {
    margin-top: 20px;
    padding: 0 15px 15px 15px;
    color: #ffffff;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    width: 60%;
    font-weight: 100;
    text-transform: uppercase;
    color: #6c757d;
    padding: 60px 0;
    text-align: center;
    margin: 0 auto;
  }
  
  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  
  .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #6c757d;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #6c757d;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .remove-image:hover {
    background: #6c757d;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }

  .nav-distance{
    padding: 2.1% 7.7%;
  }

  .navbar-light .navbar-brand{
 
    font-family: NanumSquareR;
    line-height: 1.68;
    text-align:left;
    color: #35465d;

  }
  .navbar-light .navbar-toggler {
    border-color: #ffffff;
  }

  .section {
    margin-top: 100px;
  }

  .title {
    font-family: NanumSquareR;
    line-height: 1.67;
    text-align: center;
    color: #35465d;
  }

  .subtitle {
    font-family: NanumSquareR;
    line-height: 1.53;
    text-align: center;
    color: #35465d;

  }

  @media screen and (max-width: 600px){
    html {
      font-size: 10px;
    }
    .navbar-brand {
      font-size: 2rem;
    }
    .file-upload{
      width: 70%;
    }
  }